.mainContent > *,
.mainContent > *:after,
.mainContent > *:before{
    display: flex;
    justify-content: center;
}

.titleName{
    font-family: Arial;
    color:#000000;
    font-size: 70px;
    font-weight: 900;
  margin-top: 50px;

}
.serviceContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: Arial;
    color:#000000;
    font-size: 60px;
    font-weight: 900;
    margin-top: 100px;
}

.p-description,.b-description {
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.btnContainer{
    margin-top: 50px;
}
.btn{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #0146FE;
    width: 336px;
    height: 64px;
    border-radius: 12px;
    padding: 20px 24px 20px 24px;
    gap:10px
}
.btn:hover{
    cursor: pointer;
}

