.mainContent > *,
.mainContent > *:after,
.mainContent > *:before{
    display: flex;
    justify-content: center;
}

.titleName{
    /*display: flex;*/
    font-family: Arial;
    /*justify-content: center;*/
    color:#000000;
    font-size: 70px;
    font-weight: 900;
  margin-top: 50px;

}
.p-description,.b-description {
    /*display: flex;*/
    /*justify-content: center;*/
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.btnContainer{
    margin-top: 50px;
}
.btn{
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #0146FE;
    width: 336px;
    height: 64px;
    border-radius: 12px;
    padding: 20px 24px 20px 24px;
    gap:10px
}

